Repository python-rt/python-rt: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-ruff-check, local-ruff-format, mypy

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
  python: ">=3.13"

exclude: |
  (?x)^(
    doc/.*|
    rt.egg-info/.*|
    venv/.*|
    .venv/.*|
    noxfile.py|
  )$

repos:
  - repo: builtin
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=750']
        exclude: ^uv.lock$
      - id: end-of-file-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: fix-byte-order-marker
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-symlinks
      - id: check-merge-conflict
      - id: check-executables-have-shebangs

  - repo: local
    hooks:
      - id: local-ruff-check
        name: ruff check
        entry: uv run ruff check --force-exclude --fix --exit-non-zero-on-fix
        require_serial: true
        language: system
        types: [python]

      - id: local-ruff-format
        name: ruff format
        entry: uv run ruff format --force-exclude --exit-non-zero-on-format
        require_serial: true
        language: system
        types: [python]

      - id: mypy
        name: mypy
        entry: uv run mypy
        files: rt
        require_serial: true
        language: python
        types: [python]

docs: added changelog
  CHANGELOG.md
Due: none

feat: allow empty parameters for search_assets and search all catalogs
  rt/rest2.py
  tests/test_basic.py
  tests/test_basic_async.py
Due: local-ruff-check, local-ruff-format, mypy

Enhance asset search experience (#117)
  CHANGELOG.md
  rt/rest2.py
  tests/test_basic.py
  tests/test_basic_async.py
Due: local-ruff-check, local-ruff-format, mypy

add prek
  pyproject.toml
Due: none

Fix copy-pasted docs
  rt/rest1.py
  rt/rest2.py
Due: local-ruff-check, local-ruff-format, mypy

fixed unkown variable + indentation
  README.rst
Due: none

docs(rest2): search all queues
  rt/rest2.py
Due: local-ruff-check, local-ruff-format, mypy

docs(rest2): search all queues (#121)
  rt/rest2.py
Due: local-ruff-check, local-ruff-format, mypy

add changelog
  CHANGELOG.md
Due: none

bump github action versions
  .github/workflows/pythonpublish.yml
  .github/workflows/test_lint.yml
Due: none

raise minimum python version to 3.10 (3.9 is EoL); bump certain extra deps
  pyproject.toml
Due: none

modernise typing
  rt/exceptions.py
  rt/rest1.py
  rt/rest2.py
Due: local-ruff-check, local-ruff-format, mypy

fix linter issues
  rt/exceptions.py
  rt/rest1.py
  rt/rest2.py
  tests/conftest.py
  tests/test_rest1.py
Due: local-ruff-check, local-ruff-format, mypy

update docs / changelog
  CHANGELOG.md
  README.rst
  doc/index.rst
Due: none

Add basic tests
  tests/test_basic.py
  tests/test_basic_async.py
Due: local-ruff-check, local-ruff-format

Fix typo
  tests/test_basic.py
  tests/test_basic_async.py
Due: local-ruff-check, local-ruff-format

remove asnyc from non-async test; run prek
  tests/test_basic.py
  tests/test_basic_async.py
Due: local-ruff-check, local-ruff-format

fix bad bulk replace
  tests/test_basic.py
Due: local-ruff-check, local-ruff-format

Add `query_format` to attachment search (#120)
  CHANGELOG.md
  rt/rest2.py
  tests/test_basic.py
  tests/test_basic_async.py
Due: local-ruff-check, local-ruff-format, mypy
